.container{
    text-align: center;
    padding-top: 3vh;
    margin: 0;
}

.button {
    background-color: blue;
    color: whitesmoke;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.input{
    width: 250px;
    height: 30px;
    background: transparent;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 20px;
    margin: 10px;
    padding-left: 15px;

    @media(max-width: 600px){
        margin-top: 10vh;
    }
}

.title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.cardContainer{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media(max-width: 800px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 600px){
        display: flex;
        flex-direction: column;
    }
}

.card{
    color: whitesmoke;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 4px whitesmoke; 
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
    color: goldenrod;
    border: 1px solid goldenrod;
    box-shadow: 2px 2px 4px goldenrod;
    transition: 1s;
    animation: pulse 1.5s infinite;
}



@keyframes pulse{
    0%{
        border-color: goldenrod;
    }

    50%{
        border-color: gold;
    }

    100%{
        border-color: whitesmoke;
    }
}

.btn {
    background-color: blue;
    color: whitesmoke;
    padding: 7px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: goldenrod;
    box-shadow: 0 0 4px #fff;
    color: black;
}

.btn:active{
    transform: scale(.9);
}
